body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.notification-warning {
  height: auto !important;
  padding: 15px !important;
  border: 0 !important;
  font-size: 16px !important;
  background-color: #f4ce66 !important;
}

table {
  width: 300px;
  margin: 20px auto;
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

thead th {
  background-color: #F0F0F0;
  border: solid 1px #F0F0F0;
  padding: 10px;
}

tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 10px;
  text-shadow: 1px 1px 1px #fff;
}

tbody tr:hover {
  background-color: #F0F0F0;
}

tbody td {
  border-left: none;
  border-right: none;
}

.offline {
  position: absolute;
  left: calc(50% - 150px);
  top: 0;
  padding: 8px;
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  width: 300px;
  color: #222;
  height: auto;
}

.sk-circle {
  margin: 0 auto;
}
